.site {
	display: flex;
	min-height: 100vh;
	min-width: 100vw;
	flex-direction: column;
}

.site-content {
	flex: 1;
}
footer .center{
	padding: 10px;
	text-align: center;
	background: white;
}

ul.pages{
	list-style-type: none;
	padding: 10px;
	text-align: center;
}

ul.pages li{
	display: inline-block;
	padding: 5px;
}

ul.pages li a{
	color: darkgreen
}

ul.pages li a:hover{
	color: darkgreen
}

ul.pages li a:visited{
	color: darkgreen
}

ul.pages li a.nolink{
	color: black
}
